{% extends "base.html" %}

{% block title %}Об авторе{% endblock %}

{% block content %}
  <div class="container py-5">
    <h1>Привет, я автор, меня зовут Лысаков Георгий</h1>
    Я начал писать этот сайт в 2021 году, еще до начала "военной операции" на Украинеbase.
    Немного про меня:
    <ul>
      <li>Дата рождения: 27.02.2005</li>
      <li>Место проживания: город Москва</li>
    </ul>
    Я обучаюсь программированию на <a href="https://practicum.yandex.ru/">Яндекс Практикуме</a>
  </div>
{% endblock %}